
/**
 * Grid vars
 */
$xsMaxWidth: 599;
$sMinWidth: 600;
$mMinWidth: 992;
$m2MinWidth: 1280;
$lMinWidth: 1440;
$l2MinWidth: 1600;
$xlMinWidth: 1920;

$mWidth: 960;
$m2Width: 1120;
$lWidth: 1280;
$l2Width: 1440;
$xlWidth: 1600;

@function get-content-max-width($minWidth) {
  @if($minWidth <= $mMinWidth) {
    @return $mWidth;
  }
  @else if($minWidth <= $m2MinWidth) {
    @return $m2Width;
  }
  @else if($minWidth <= $lMinWidth) {
    @return $lWidth;
  }
  @else if($minWidth <= $l2MinWidth) {
    @return $l2Width;
  }
  @else if($minWidth <= $xlMinWidth) {
    @return $xlWidth;
  }
}

a {
  text-decoration: none;
}

/**
 * Grid gap breakpoints.
 */
#root {
  margin: auto;
  padding: 1rem;
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 8px;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  html {
    font-size: 24px;
  }
}


/**
 * Content width breakpoints.
 */
@media only screen and (min-width: #{$mMinWidth}px) {
  #root {
    max-width: #{get-content-max-width($mMinWidth)}px;
  }
}
@media only screen and (min-width: #{$m2MinWidth}px) {
  #root {
    max-width: #{get-content-max-width($m2MinWidth)}px;
  }
}
@media only screen and (min-width: #{$lMinWidth}px) {
  #root {
    max-width: #{get-content-max-width($lMinWidth)}px;
  }
}
@media only screen and (min-width: #{$l2MinWidth}px) {
  #root {
    max-width: #{get-content-max-width($l2MinWidth)}px;
  }
}
@media only screen and (min-width: #{$xlMinWidth}px) {
  #root {
    max-width: #{get-content-max-width($xlMinWidth)}px;
  }
}
