@import '../src/utils/map-deep-get.scss';
@import '../src/design-tokens/media.scss';

/**
 * Grid vars
 */
$xsMinWidth: map-deep-get($media, 'sizes', 'xs-min-width');
$xsMaxWidth: map-deep-get($media, 'sizes', 's-min-width') - 0.02;
$sMinWidth: map-deep-get($media, 'sizes', 's-min-width');
$sMaxWidth: map-deep-get($media, 'sizes', 'm-min-width') - 0.02;
$mMinWidth: map-deep-get($media, 'sizes', 'm-min-width');
$mMaxWidth: map-deep-get($media, 'sizes', 'l-min-width') - 0.02;
$lMinWidth: map-deep-get($media, 'sizes', 'l-min-width');
$lMaxWidth: map-deep-get($media, 'sizes', 'xl-min-width') - 0.02;
$xlMinWidth: map-deep-get($media, 'sizes', 'xl-min-width');
$xlMaxWidth: map-deep-get($media, 'sizes', 'xxl-min-width') - 0.02;
$xxlMinWidth: map-deep-get($media, 'sizes', 'xxl-min-width');

@media only screen and (max-width: #{$xsMinWidth - 0.02}px) {
    .hide-lt-xs {
        &#{&} {
            display: none;
        }
    }
}
@media only screen and (max-width: #{$xsMaxWidth}px) {
    .hide-lt-s {
        &#{&} {
            display: none;
        }
    }
}
@media only screen and (max-width: #{$sMaxWidth}px) {
    .hide-lt-m {
        &#{&} {
            display: none;
        }
    }
}
@media only screen and (max-width: #{$mMaxWidth}px) {
    .hide-lt-l {
        &#{&} {
            display: none;
        }
    }
}
@media only screen and (max-width: #{$lMaxWidth}px) {
    .hide-lt-xl {
        &#{&} {
            display: none;
        }
    }
}
@media only screen and (max-width: #{$xlMaxWidth}px) {
    .hide-lt-xxl {
        &#{&} {
            display: none;
        }
    }
}
