.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        align-items: stretch;
    }
}

.grid * {
    box-sizing: border-box;
}
