@media only screen and (min-width: #{$xlMinWidth}px) {
    .xl-hide {
        &#{&} {
            display: none;
        }
    }
    .xl-show {
        &#{&} {
            display: initial;
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                display: inherit;
            }
        }
    }

    .xl-1 {
        @include columns(1);
    }
    .xl-2 {
        @include columns(2);
    }
    .xl-3 {
        @include columns(3);
    }
    .xl-4 {
        @include columns(4);
    }
    .xl-5 {
        @include columns(5);
    }
    .xl-6 {
        @include columns(6);
    }
    .xl-7 {
        @include columns(7);
    }
    .xl-8 {
        @include columns(8);
    }
    .xl-9 {
        @include columns(9);
    }
    .xl-10 {
        @include columns(10);
    }
    .xl-11 {
        @include columns(11);
    }
    .xl-12 {
        @include columns(12);
    }
}

@media only screen and (max-width: #{$xlMinWidth}px) {
    .xl-and-smaller-hide {
        &#{&} {
            display: none;
        }
    }
}
