@media only screen and (min-width: #{$xsMinWidth}px) {
    /**
     * BASE
     */
    .s__p-0 {
        padding: 0;
    }

    /**
     * 1
     */
    .s__p\+1 {
        padding: #{$paddingAtom}rem;
    }
    .s__pt\+1 {
        padding-top: #{$paddingAtom}rem;
    }
    .s__pr\+1 {
        padding-right: #{$paddingAtom}rem;
    }
    .s__pb\+1 {
        padding-bottom: #{$paddingAtom}rem;
    }
    .s__pl\+1 {
        padding-left: #{$paddingAtom}rem;
    }
    .s__p-1 {
        padding: -#{$paddingAtom}rem;
    }
    .s__pt-1 {
        padding-top: -#{$paddingAtom}rem;
    }
    .s__pr-1 {
        padding-right: -#{$paddingAtom}rem;
    }
    .s__pb-1 {
        padding-bottom: -#{$paddingAtom}rem;
    }
    .s__pl-1 {
        padding-left: -#{$paddingAtom}rem;
    }

    /**
     * 2
     */
    .s__p\+2 {
        padding: #{$paddingAtom * 2}rem;
    }
    .s__pt\+2 {
        padding-top: #{$paddingAtom * 2}rem;
    }
    .s__pr\+2 {
        padding-right: #{$paddingAtom * 2}rem;
    }
    .s__pb\+2 {
        padding-bottom: #{$paddingAtom * 2}rem;
    }
    .s__pl\+2 {
        padding-left: #{$paddingAtom * 2}rem;
    }
    .s__p-2 {
        padding: -#{$paddingAtom * 2}rem;
    }
    .s__pt-2 {
        padding-top: -#{$paddingAtom * 2}rem;
    }
    .s__pr-2 {
        padding-right: -#{$paddingAtom * 2}rem;
    }
    .s__pb-2 {
        padding-bottom: -#{$paddingAtom * 2}rem;
    }
    .s__pl-2 {
        padding-left: -#{$paddingAtom * 2}rem;
    }

    /**
     * 3
     */
    .s__p\+3 {
        padding: #{$paddingAtom * 3}rem;
    }
    .s__pt\+3 {
        padding-top: #{$paddingAtom * 3}rem;
    }
    .s__pr\+3 {
        padding-right: #{$paddingAtom * 3}rem;
    }
    .s__pb\+3 {
        padding-bottom: #{$paddingAtom * 3}rem;
    }
    .s__pl\+3 {
        padding-left: #{$paddingAtom * 3}rem;
    }
    .s__p-3 {
        padding: -#{$paddingAtom * 3}rem;
    }
    .s__pt-3 {
        padding-top: -#{$paddingAtom * 3}rem;
    }
    .s__pr-3 {
        padding-right: -#{$paddingAtom * 3}rem;
    }
    .s__pb-3 {
        padding-bottom: -#{$paddingAtom * 3}rem;
    }
    .s__pl-3 {
        padding-left: -#{$paddingAtom * 3}rem;
    }

    /**
     * 4
     */
    .s__p\+4 {
        padding: #{$paddingAtom * 4}rem;
    }
    .s__pt\+4 {
        padding-top: #{$paddingAtom * 4}rem;
    }
    .s__pr\+4 {
        padding-right: #{$paddingAtom * 4}rem;
    }
    .s__pb\+4 {
        padding-bottom: #{$paddingAtom * 4}rem;
    }
    .s__pl\+4 {
        padding-left: #{$paddingAtom * 4}rem;
    }
    .s__p-4 {
        padding: -#{$paddingAtom * 4}rem;
    }
    .s__pt-4 {
        padding-top: -#{$paddingAtom * 4}rem;
    }
    .s__pr-4 {
        padding-right: -#{$paddingAtom * 4}rem;
    }
    .s__pb-4 {
        padding-bottom: -#{$paddingAtom * 4}rem;
    }
    .s__pl-4 {
        padding-left: -#{$paddingAtom * 4}rem;
    }

    /**
     * 5
     */
    .s__p\+5 {
        padding: #{$paddingAtom * 5}rem;
    }
    .s__pt\+5 {
        padding-top: #{$paddingAtom * 5}rem;
    }
    .s__pr\+5 {
        padding-right: #{$paddingAtom * 5}rem;
    }
    .s__pb\+5 {
        padding-bottom: #{$paddingAtom * 5}rem;
    }
    .s__pl\+5 {
        padding-left: #{$paddingAtom * 5}rem;
    }
    .s__p-5 {
        padding: -#{$paddingAtom * 5}rem;
    }
    .s__pt-5 {
        padding-top: -#{$paddingAtom * 5}rem;
    }
    .s__pr-5 {
        padding-right: -#{$paddingAtom * 5}rem;
    }
    .s__pb-5 {
        padding-bottom: -#{$paddingAtom * 5}rem;
    }
    .s__pl-5 {
        padding-left: -#{$paddingAtom * 5}rem;
    }

    /**
     * 6
     */
    .s__p\+6 {
        padding: #{$paddingAtom * 6}rem;
    }
    .s__pt\+6 {
        padding-top: #{$paddingAtom * 6}rem;
    }
    .s__pr\+6 {
        padding-right: #{$paddingAtom * 6}rem;
    }
    .s__pb\+6 {
        padding-bottom: #{$paddingAtom * 6}rem;
    }
    .s__pl\+6 {
        padding-left: #{$paddingAtom * 6}rem;
    }
    .s__p-6 {
        padding: -#{$paddingAtom * 6}rem;
    }
    .s__pt-6 {
        padding-top: -#{$paddingAtom * 6}rem;
    }
    .s__pr-6 {
        padding-right: -#{$paddingAtom * 6}rem;
    }
    .s__pb-6 {
        padding-bottom: -#{$paddingAtom * 6}rem;
    }
    .s__pl-6 {
        padding-left: -#{$paddingAtom * 6}rem;
    }

    /**
     * 7
     */
    .s__p\+7 {
        padding: #{$paddingAtom * 7}rem;
    }
    .s__pt\+7 {
        padding-top: #{$paddingAtom * 7}rem;
    }
    .s__pr\+7 {
        padding-right: #{$paddingAtom * 7}rem;
    }
    .s__pb\+7 {
        padding-bottom: #{$paddingAtom * 7}rem;
    }
    .s__pl\+7 {
        padding-left: #{$paddingAtom * 7}rem;
    }
    .s__p-7 {
        padding: -#{$paddingAtom * 7}rem;
    }
    .s__pt-7 {
        padding-top: -#{$paddingAtom * 7}rem;
    }
    .s__pr-7 {
        padding-right: -#{$paddingAtom * 7}rem;
    }
    .s__pb-7 {
        padding-bottom: -#{$paddingAtom * 7}rem;
    }
    .s__pl-7 {
        padding-left: -#{$paddingAtom * 7}rem;
    }

    /**
     * 8
     */
    .s__p\+8 {
        padding: #{$paddingAtom * 8}rem;
    }
    .s__pt\+8 {
        padding-top: #{$paddingAtom * 8}rem;
    }
    .s__pr\+8 {
        padding-right: #{$paddingAtom * 8}rem;
    }
    .s__pb\+8 {
        padding-bottom: #{$paddingAtom * 8}rem;
    }
    .s__pl\+8 {
        padding-left: #{$paddingAtom * 8}rem;
    }
    .s__p-8 {
        padding: -#{$paddingAtom * 8}rem;
    }
    .s__pt-8 {
        padding-top: -#{$paddingAtom * 8}rem;
    }
    .s__pr-8 {
        padding-right: -#{$paddingAtom * 8}rem;
    }
    .s__pb-8 {
        padding-bottom: -#{$paddingAtom * 8}rem;
    }
    .s__pl-8 {
        padding-left: -#{$paddingAtom * 8}rem;
    }

    /**
     * 0
     */
    .s__pt-0 {
        &#{&} {
            padding-top: 0;
        }
    }
    .s__pr-0 {
        &#{&} {
            padding-right: 0;
        }
    }
    .s__pb-0 {
        &#{&} {
            padding-bottom: 0;
        }
    }
    .s__pl-0 {
        &#{&} {
            padding-left: 0;
        }
    }
}
