@media only screen and (min-width: #{$lMinWidth}px) {
    /**
     * BASE
     */
    .xl__p-0 {
        padding: 0;
    }

    /**
     * 1
     */
    .xl__p\+1 {
        padding: #{$paddingAtom}rem;
    }
    .xl__pt\+1 {
        padding-top: #{$paddingAtom}rem;
    }
    .xl__pr\+1 {
        padding-right: #{$paddingAtom}rem;
    }
    .xl__pb\+1 {
        padding-bottom: #{$paddingAtom}rem;
    }
    .xl__pl\+1 {
        padding-left: #{$paddingAtom}rem;
    }

    /**
     * 2
     */
    .xl__p\+2 {
        padding: #{$paddingAtom * 2}rem;
    }
    .xl__pt\+2 {
        padding-top: #{$paddingAtom * 2}rem;
    }
    .xl__pr\+2 {
        padding-right: #{$paddingAtom * 2}rem;
    }
    .xl__pb\+2 {
        padding-bottom: #{$paddingAtom * 2}rem;
    }
    .xl__pl\+2 {
        padding-left: #{$paddingAtom * 2}rem;
    }

    /**
     * 3
     */
    .xl__p\+3 {
        padding: #{$paddingAtom * 3}rem;
    }
    .xl__pt\+3 {
        padding-top: #{$paddingAtom * 3}rem;
    }
    .xl__pr\+3 {
        padding-right: #{$paddingAtom * 3}rem;
    }
    .xl__pb\+3 {
        padding-bottom: #{$paddingAtom * 3}rem;
    }
    .xl__pl\+3 {
        padding-left: #{$paddingAtom * 3}rem;
    }

    /**
     * 4
     */
    .xl__p\+4 {
        padding: #{$paddingAtom * 4}rem;
    }
    .xl__pt\+4 {
        padding-top: #{$paddingAtom * 4}rem;
    }
    .xl__pr\+4 {
        padding-right: #{$paddingAtom * 4}rem;
    }
    .xl__pb\+4 {
        padding-bottom: #{$paddingAtom * 4}rem;
    }
    .xl__pl\+4 {
        padding-left: #{$paddingAtom * 4}rem;
    }

    /**
     * 5
     */
    .xl__p\+5 {
        padding: #{$paddingAtom * 5}rem;
    }
    .xl__pt\+5 {
        padding-top: #{$paddingAtom * 5}rem;
    }
    .xl__pr\+5 {
        padding-right: #{$paddingAtom * 5}rem;
    }
    .xl__pb\+5 {
        padding-bottom: #{$paddingAtom * 5}rem;
    }
    .xl__pl\+5 {
        padding-left: #{$paddingAtom * 5}rem;
    }

    /**
     * 6
     */
    .xl__p\+6 {
        padding: #{$paddingAtom * 6}rem;
    }
    .xl__pt\+6 {
        padding-top: #{$paddingAtom * 6}rem;
    }
    .xl__pr\+6 {
        padding-right: #{$paddingAtom * 6}rem;
    }
    .xl__pb\+6 {
        padding-bottom: #{$paddingAtom * 6}rem;
    }
    .xl__pl\+6 {
        padding-left: #{$paddingAtom * 6}rem;
    }

    /**
     * 7
     */
    .xl__p\+7 {
        padding: #{$paddingAtom * 7}rem;
    }
    .xl__pt\+7 {
        padding-top: #{$paddingAtom * 7}rem;
    }
    .xl__pr\+7 {
        padding-right: #{$paddingAtom * 7}rem;
    }
    .xl__pb\+7 {
        padding-bottom: #{$paddingAtom * 7}rem;
    }
    .xl__pl\+7 {
        padding-left: #{$paddingAtom * 7}rem;
    }

    /**
     * 8
     */
    .xl__p\+8 {
        padding: #{$paddingAtom * 8}rem;
    }
    .xl__pt\+8 {
        padding-top: #{$paddingAtom * 8}rem;
    }
    .xl__pr\+8 {
        padding-right: #{$paddingAtom * 8}rem;
    }
    .xl__pb\+8 {
        padding-bottom: #{$paddingAtom * 8}rem;
    }
    .xl__pl\+8 {
        padding-left: #{$paddingAtom * 8}rem;
    }

    /**
     * 0
     */
    .xl__pt-0 {
        &#{&} {
            padding-top: 0;
        }
    }
    .xl__pr-0 {
        &#{&} {
            padding-right: 0;
        }
    }
    .xl__pb-0 {
        &#{&} {
            padding-bottom: 0;
        }
    }
    .xl__pl-0 {
        &#{&} {
            padding-left: 0;
        }
    }
}
