@media only screen and (min-width: #{$lMinWidth}px) {
  .l-hide { display: none!important; }
  .l-show { display: inherit!important; }

  .l-1 {
    grid-column-end: span 1;
  }
  .l-2 {
    grid-column-end: span 2;
  }
  .l-3 {
    grid-column-end: span 3;
  }
  .l-4 {
    grid-column-end: span 4;
  }
  .l-5 {
    grid-column-end: span 5;
  }
  .l-6 {
    grid-column-end: span 6;
  }
  .l-7 {
    grid-column-end: span 7;
  }
  .l-8 {
    grid-column-end: span 8;
  }
  .l-9 {
    grid-column-end: span 9;
  }
  .l-10 {
    grid-column-end: span 10;
  }
  .l-11 {
    grid-column-end: span 11;
  }
  .l-12 {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: #{$lMinWidth}px) {
  .l-and-smaller-hide { display: none!important; }
}
