@media only screen and (max-width: #{$xsMaxWidth}px) {
    .xs-hide {
        &#{&} {
            display: none;
        }
    }
    .xs-show {
        &#{&} {
            display: inherit;
        }
    }
}

.xs-1 {
    grid-column-end: span 1;
}
.xs-2 {
    grid-column-end: span 2;
}
.xs-3 {
    grid-column-end: span 3;
}
.xs-4 {
    grid-column-end: span 4;
}
.xs-5 {
    grid-column-end: span 5;
}
.xs-6 {
    grid-column-end: span 6;
}
.xs-7 {
    grid-column-end: span 7;
}
.xs-8 {
    grid-column-end: span 8;
}
.xs-9 {
    grid-column-end: span 9;
}
.xs-10 {
    grid-column-end: span 10;
}
.xs-11 {
    grid-column-end: span 11;
}
.xs-12 {
    grid-column-end: span 12;
}
