html {
    width: 100%;
}

.app-menu {
    margin-bottom: 1rem;
    > a {
        margin: 0 1rem;
    }
}

.dummy-element {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
}

.app-main {
    display: flex;
    justify-content: space-between;

    > main {
        flex: 1 1 auto;
    }
    > aside {
        margin-left: 1rem;
        flex-shrink: 0;
        flex-basis: 300px;
    }
}

.debug {
    font-size: 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sticky {
    position: sticky;
    top: 0;
    height: auto;
}
.dummy-ad-300-600 {
    height: 600px;
    width: 300px;
}
