@import '../utils/map-deep-get.scss';
@import '../design-tokens/media.scss';
@import '../design-tokens/colors.scss';

html {
    width: 100%;
    background-color: var(--product-background);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 80)};
    }

    &.article {
        background-color: var(--product-background-2);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
        }
    }
}

body {
    margin: 0;
}

.dummy-menu {
    height: 55px;
    margin-bottom: 1rem;
}

.dummy-card {
    background-color: var(--card);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    }

    height: 400px;
    padding: 1rem;
    box-sizing: border-box;
}

.dummy-element {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    box-sizing: border-box;
}

.app-main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1280px;

    // &.section {
    //     @media screen and (min-width: #{map-deep-get($media, 'sizes', 'm-min-width')}px) {
    //         max-width: #{map-deep-get($media, 'sizes', 'm-min-width')}px;
    //     }
    //     @media screen and (min-width: #{map-deep-get($media, 'sizes', 'l-min-width')}px) {
    //         max-width: #{map-deep-get($media, 'sizes', 'l-min-width')}px;
    //     }
    //     @media screen and (min-width: #{map-deep-get($media, 'sizes', 'xl-min-width')}px) {
    //         max-width: #{map-deep-get($media, 'sizes', 'xl-min-width')}px;
    //     }
    // }

    > main {
        flex: 1 1 auto;
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            max-width: 100%;
            overflow: hidden;
        }
    }
    > aside {
        margin-left: 1rem;
        flex-shrink: 0;
        flex-basis: 300px;
    }
}

.app-toolbar {
    display: inline-block;
}

.sticky {
    position: sticky;
    top: 71px;
    height: auto;
}

.dummy-ad-300 {
    margin: 0 auto;
    width: 300px;
}

.left {
    float: left;
}
.right {
    float: right;
}

.ie-full-height,
.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}

.max-width-1024 {
    max-width: 1024px;
}

hr {
    border: 0;
    border-top: 5px solid var(--dividers);
    margin-bottom: 1rem;
}

@media only screen and (max-width: 640px) {
    .grid.no-gap-bottom-s {
        grid-gap: 0 1rem;
        & > .gap-bottom {
            margin-bottom: 0rem;
            &:not(:last-child) article {
                border-bottom: 1px solid var(--dividers);
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    border-bottom: 1px solid #cdbeb4;
                }
            }
        }
    }
}
