@import '../utils/map-deep-get.scss';
@import '../design-tokens/media.scss';
@import '../design-tokens/colors.scss';

.menu {
    position: sticky;
    top: 0;
    margin-bottom: 1rem;

    &#{&} {
        .menuContent {
            width: 1280px;
        }
    }

    .invertable {
        img {
            filter: var(--filter-invert);
        }
    }

    .themes {
        padding: 0 1rem;
    }

    .github {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        figure {
            margin: 0;
        }
        figcaption {
            color: var(--content-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
            }
        }
        img {
            width: 1rem;
        }
    }
}
