@import '../utils/map-deep-get.scss';
@import '../design-tokens/media.scss';

html {
    width: 100%;
}

body {
    margin: 0;
}

.app-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    a {
        padding: 0 1rem;
    }
}

.dummy-element {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    box-sizing: border-box;
}

.app-main {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 0 auto;
    @media screen and (min-width: #{map-deep-get($media, 'sizes', 's-min-width')}px) {
        padding: 0 1.5rem;
    }
    @media screen and (min-width: #{map-deep-get($media, 'sizes', 'l-min-width')}px) {
        padding: 0 4rem;
    }
    @media screen and (min-width: #{map-deep-get($media, 'sizes', 'xl-min-width')}px) {
        padding: 0 6rem;
    }

    > main {
        flex: 1 1 auto;
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            max-width: 100%;
            overflow: hidden;
        }
    }
    > aside {
        margin-left: 1rem;
        flex-shrink: 0;
        flex-basis: 300px;
    }
}

.app-toolbar {
    display: inline-block;
}

.debug {
    font-size: 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sticky {
    position: sticky;
    top: 0;
    height: auto;
}
.dummy-ad-300-600 {
    height: 600px;
    width: 300px;
}

.left {
    float: left;
}
.right {
    float: right;
}

.full-height {
    height: 100%;
}
