@import '../utils/map-deep-get.scss';
@import '../design-tokens/media.scss';

.intro {
    margin-bottom: 1rem;
}

.main {
    max-width: 1024px;
}

.noGridContent,
.content {
    max-width: 640px;
    @media screen and (min-width: #{map-deep-get($media, 'sizes', 'm-min-width')}px) and (max-width: 900px) {
        max-width: 580px;
    }

    margin: 0 auto;
}
.noGridContent {
    margin-bottom: 1rem;
}

.leftSection {
    width: 78px;
    margin-right: 1rem;
}
