.intro {
    margin-bottom: 1rem;
}

.main {
    max-width: 1024px;
}

.noGridContent,
.content {
    max-width: 580px;
    @media screen and (min-width: 900px) {
        max-width: 640px;
    }

    margin: 0 auto;
}
.noGridContent {
    margin-bottom: 1rem;
}

.leftSection {
    width: 78px;
    margin-right: 1rem;
}
