@media only screen and (min-width: #{$lMinWidth}px) {
    /**
     * BASE
     */
    .xl__m-0 {
        margin: 0;
    }
    .xl__m-0-auto {
        margin: 0 auto;
    }

    /**
     * 1
     */
    .xl__m\+1 {
        margin: #{$marginAtom}rem;
    }
    .xl__mt\+1 {
        margin-top: #{$marginAtom}rem;
    }
    .xl__mr\+1 {
        margin-right: #{$marginAtom}rem;
    }
    .xl__mb\+1 {
        margin-bottom: #{$marginAtom}rem;
    }
    .xl__ml\+1 {
        margin-left: #{$marginAtom}rem;
    }
    .xl__m-1 {
        margin: -#{$marginAtom}rem;
    }
    .xl__mt-1 {
        margin-top: -#{$marginAtom}rem;
    }
    .xl__mr-1 {
        margin-right: -#{$marginAtom}rem;
    }
    .xl__mb-1 {
        margin-bottom: -#{$marginAtom}rem;
    }
    .xl__ml-1 {
        margin-left: -#{$marginAtom}rem;
    }

    /**
     * 2
     */
    .xl__m\+2 {
        margin: #{$marginAtom * 2}rem;
    }
    .xl__mt\+2 {
        margin-top: #{$marginAtom * 2}rem;
    }
    .xl__mr\+2 {
        margin-right: #{$marginAtom * 2}rem;
    }
    .xl__mb\+2 {
        margin-bottom: #{$marginAtom * 2}rem;
    }
    .xl__ml\+2 {
        margin-left: #{$marginAtom * 2}rem;
    }
    .xl__m-2 {
        margin: -#{$marginAtom * 2}rem;
    }
    .xl__mt-2 {
        margin-top: -#{$marginAtom * 2}rem;
    }
    .xl__mr-2 {
        margin-right: -#{$marginAtom * 2}rem;
    }
    .xl__mb-2 {
        margin-bottom: -#{$marginAtom * 2}rem;
    }
    .xl__ml-2 {
        margin-left: -#{$marginAtom * 2}rem;
    }

    /**
     * 3
     */
    .xl__m\+3 {
        margin: #{$marginAtom * 3}rem;
    }
    .xl__mt\+3 {
        margin-top: #{$marginAtom * 3}rem;
    }
    .xl__mr\+3 {
        margin-right: #{$marginAtom * 3}rem;
    }
    .xl__mb\+3 {
        margin-bottom: #{$marginAtom * 3}rem;
    }
    .xl__ml\+3 {
        margin-left: #{$marginAtom * 3}rem;
    }
    .xl__m-3 {
        margin: -#{$marginAtom * 3}rem;
    }
    .xl__mt-3 {
        margin-top: -#{$marginAtom * 3}rem;
    }
    .xl__mr-3 {
        margin-right: -#{$marginAtom * 3}rem;
    }
    .xl__mb-3 {
        margin-bottom: -#{$marginAtom * 3}rem;
    }
    .xl__ml-3 {
        margin-left: -#{$marginAtom * 3}rem;
    }

    /**
     * 4
     */
    .xl__m\+4 {
        margin: #{$marginAtom * 4}rem;
    }
    .xl__mt\+4 {
        margin-top: #{$marginAtom * 4}rem;
    }
    .xl__mr\+4 {
        margin-right: #{$marginAtom * 4}rem;
    }
    .xl__mb\+4 {
        margin-bottom: #{$marginAtom * 4}rem;
    }
    .xl__ml\+4 {
        margin-left: #{$marginAtom * 4}rem;
    }
    .xl__m-4 {
        margin: -#{$marginAtom * 4}rem;
    }
    .xl__mt-4 {
        margin-top: -#{$marginAtom * 4}rem;
    }
    .xl__mr-4 {
        margin-right: -#{$marginAtom * 4}rem;
    }
    .xl__mb-4 {
        margin-bottom: -#{$marginAtom * 4}rem;
    }
    .xl__ml-4 {
        margin-left: -#{$marginAtom * 4}rem;
    }

    /**
     * 5
     */
    .xl__m\+5 {
        margin: #{$marginAtom * 5}rem;
    }
    .xl__mt\+5 {
        margin-top: #{$marginAtom * 5}rem;
    }
    .xl__mr\+5 {
        margin-right: #{$marginAtom * 5}rem;
    }
    .xl__mb\+5 {
        margin-bottom: #{$marginAtom * 5}rem;
    }
    .xl__ml\+5 {
        margin-left: #{$marginAtom * 5}rem;
    }
    .xl__m-5 {
        margin: -#{$marginAtom * 5}rem;
    }
    .xl__mt-5 {
        margin-top: -#{$marginAtom * 5}rem;
    }
    .xl__mr-5 {
        margin-right: -#{$marginAtom * 5}rem;
    }
    .xl__mb-5 {
        margin-bottom: -#{$marginAtom * 5}rem;
    }
    .xl__ml-5 {
        margin-left: -#{$marginAtom * 5}rem;
    }

    /**
     * 6
     */
    .xl__m\+6 {
        margin: #{$marginAtom * 6}rem;
    }
    .xl__mt\+6 {
        margin-top: #{$marginAtom * 6}rem;
    }
    .xl__mr\+6 {
        margin-right: #{$marginAtom * 6}rem;
    }
    .xl__mb\+6 {
        margin-bottom: #{$marginAtom * 6}rem;
    }
    .xl__ml\+6 {
        margin-left: #{$marginAtom * 6}rem;
    }
    .xl__m-6 {
        margin: -#{$marginAtom * 6}rem;
    }
    .xl__mt-6 {
        margin-top: -#{$marginAtom * 6}rem;
    }
    .xl__mr-6 {
        margin-right: -#{$marginAtom * 6}rem;
    }
    .xl__mb-6 {
        margin-bottom: -#{$marginAtom * 6}rem;
    }
    .xl__ml-6 {
        margin-left: -#{$marginAtom * 6}rem;
    }

    /**
     * 7
     */
    .xl__m\+7 {
        margin: #{$marginAtom * 7}rem;
    }
    .xl__mt\+7 {
        margin-top: #{$marginAtom * 7}rem;
    }
    .xl__mr\+7 {
        margin-right: #{$marginAtom * 7}rem;
    }
    .xl__mb\+7 {
        margin-bottom: #{$marginAtom * 7}rem;
    }
    .xl__ml\+7 {
        margin-left: #{$marginAtom * 7}rem;
    }
    .xl__m-7 {
        margin: -#{$marginAtom * 7}rem;
    }
    .xl__mt-7 {
        margin-top: -#{$marginAtom * 7}rem;
    }
    .xl__mr-7 {
        margin-right: -#{$marginAtom * 7}rem;
    }
    .xl__mb-7 {
        margin-bottom: -#{$marginAtom * 7}rem;
    }
    .xl__ml-7 {
        margin-left: -#{$marginAtom * 7}rem;
    }

    /**
     * 8
     */
    .xl__m\+8 {
        margin: #{$marginAtom * 8}rem;
    }
    .xl__mt\+8 {
        margin-top: #{$marginAtom * 8}rem;
    }
    .xl__mr\+8 {
        margin-right: #{$marginAtom * 8}rem;
    }
    .xl__mb\+8 {
        margin-bottom: #{$marginAtom * 8}rem;
    }
    .xl__ml\+8 {
        margin-left: #{$marginAtom * 8}rem;
    }
    .xl__m-8 {
        margin: -#{$marginAtom * 8}rem;
    }
    .xl__mt-8 {
        margin-top: -#{$marginAtom * 8}rem;
    }
    .xl__mr-8 {
        margin-right: -#{$marginAtom * 8}rem;
    }
    .xl__mb-8 {
        margin-bottom: -#{$marginAtom * 8}rem;
    }
    .xl__ml-8 {
        margin-left: -#{$marginAtom * 8}rem;
    }

    /**
     * 0
     */
    .xl__mt-0 {
        &#{&} {
            margin-top: 0;
        }
    }
    .xl__mr-0 {
        &#{&} {
            margin-right: 0;
        }
    }
    .xl__mb-0 {
        &#{&} {
            margin-bottom: 0;
        }
    }
    .xl__ml-0 {
        &#{&} {
            margin-left: 0;
        }
    }
}
