/**
 * BASE
 */
.xs__m-0 {
    margin: 0;
}
.xs__m-0-auto {
    margin: 0 auto;
}

/**
 * 1
 */
.xs__m\+1 {
    margin: #{$marginAtom}rem;
}
.xs__mt\+1 {
    margin-top: #{$marginAtom}rem;
}
.xs__mr\+1 {
    margin-right: #{$marginAtom}rem;
}
.xs__mb\+1 {
    margin-bottom: #{$marginAtom}rem;
}
.xs__ml\+1 {
    margin-left: #{$marginAtom}rem;
}
.xs__m-1 {
    margin: -#{$marginAtom}rem;
}
.xs__mt-1 {
    margin-top: -#{$marginAtom}rem;
}
.xs__mr-1 {
    margin-right: -#{$marginAtom}rem;
}
.xs__mb-1 {
    margin-bottom: -#{$marginAtom}rem;
}
.xs__ml-1 {
    margin-left: -#{$marginAtom}rem;
}

/**
 * 2
 */
.xs__m\+2 {
    margin: #{$marginAtom * 2}rem;
}
.xs__mt\+2 {
    margin-top: #{$marginAtom * 2}rem;
}
.xs__mr\+2 {
    margin-right: #{$marginAtom * 2}rem;
}
.xs__mb\+2 {
    margin-bottom: #{$marginAtom * 2}rem;
}
.xs__ml\+2 {
    margin-left: #{$marginAtom * 2}rem;
}
.xs__m-2 {
    margin: -#{$marginAtom * 2}rem;
}
.xs__mt-2 {
    margin-top: -#{$marginAtom * 2}rem;
}
.xs__mr-2 {
    margin-right: -#{$marginAtom * 2}rem;
}
.xs__mb-2 {
    margin-bottom: -#{$marginAtom * 2}rem;
}
.xs__ml-2 {
    margin-left: -#{$marginAtom * 2}rem;
}

/**
 * 3
 */
.xs__m\+3 {
    margin: #{$marginAtom * 3}rem;
}
.xs__mt\+3 {
    margin-top: #{$marginAtom * 3}rem;
}
.xs__mr\+3 {
    margin-right: #{$marginAtom * 3}rem;
}
.xs__mb\+3 {
    margin-bottom: #{$marginAtom * 3}rem;
}
.xs__ml\+3 {
    margin-left: #{$marginAtom * 3}rem;
}
.xs__m-3 {
    margin: -#{$marginAtom * 3}rem;
}
.xs__mt-3 {
    margin-top: -#{$marginAtom * 3}rem;
}
.xs__mr-3 {
    margin-right: -#{$marginAtom * 3}rem;
}
.xs__mb-3 {
    margin-bottom: -#{$marginAtom * 3}rem;
}
.xs__ml-3 {
    margin-left: -#{$marginAtom * 3}rem;
}

/**
 * 4
 */
.xs__m\+4 {
    margin: #{$marginAtom * 4}rem;
}
.xs__mt\+4 {
    margin-top: #{$marginAtom * 4}rem;
}
.xs__mr\+4 {
    margin-right: #{$marginAtom * 4}rem;
}
.xs__mb\+4 {
    margin-bottom: #{$marginAtom * 4}rem;
}
.xs__ml\+4 {
    margin-left: #{$marginAtom * 4}rem;
}
.xs__m-4 {
    margin: -#{$marginAtom * 4}rem;
}
.xs__mt-4 {
    margin-top: -#{$marginAtom * 4}rem;
}
.xs__mr-4 {
    margin-right: -#{$marginAtom * 4}rem;
}
.xs__mb-4 {
    margin-bottom: -#{$marginAtom * 4}rem;
}
.xs__ml-4 {
    margin-left: -#{$marginAtom * 4}rem;
}

/**
 * 5
 */
.xs__m\+5 {
    margin: #{$marginAtom * 5}rem;
}
.xs__mt\+5 {
    margin-top: #{$marginAtom * 5}rem;
}
.xs__mr\+5 {
    margin-right: #{$marginAtom * 5}rem;
}
.xs__mb\+5 {
    margin-bottom: #{$marginAtom * 5}rem;
}
.xs__ml\+5 {
    margin-left: #{$marginAtom * 5}rem;
}
.xs__m-5 {
    margin: -#{$marginAtom * 5}rem;
}
.xs__mt-5 {
    margin-top: -#{$marginAtom * 5}rem;
}
.xs__mr-5 {
    margin-right: -#{$marginAtom * 5}rem;
}
.xs__mb-5 {
    margin-bottom: -#{$marginAtom * 5}rem;
}
.xs__ml-5 {
    margin-left: -#{$marginAtom * 5}rem;
}

/**
 * 6
 */
.xs__m\+6 {
    margin: #{$marginAtom * 6}rem;
}
.xs__mt\+6 {
    margin-top: #{$marginAtom * 6}rem;
}
.xs__mr\+6 {
    margin-right: #{$marginAtom * 6}rem;
}
.xs__mb\+6 {
    margin-bottom: #{$marginAtom * 6}rem;
}
.xs__ml\+6 {
    margin-left: #{$marginAtom * 6}rem;
}
.xs__m-6 {
    margin: -#{$marginAtom * 6}rem;
}
.xs__mt-6 {
    margin-top: -#{$marginAtom * 6}rem;
}
.xs__mr-6 {
    margin-right: -#{$marginAtom * 6}rem;
}
.xs__mb-6 {
    margin-bottom: -#{$marginAtom * 6}rem;
}
.xs__ml-6 {
    margin-left: -#{$marginAtom * 6}rem;
}

/**
 * 7
 */
.xs__m\+7 {
    margin: #{$marginAtom * 7}rem;
}
.xs__mt\+7 {
    margin-top: #{$marginAtom * 7}rem;
}
.xs__mr\+7 {
    margin-right: #{$marginAtom * 7}rem;
}
.xs__mb\+7 {
    margin-bottom: #{$marginAtom * 7}rem;
}
.xs__ml\+7 {
    margin-left: #{$marginAtom * 7}rem;
}
.xs__m-7 {
    margin: -#{$marginAtom * 7}rem;
}
.xs__mt-7 {
    margin-top: -#{$marginAtom * 7}rem;
}
.xs__mr-7 {
    margin-right: -#{$marginAtom * 7}rem;
}
.xs__mb-7 {
    margin-bottom: -#{$marginAtom * 7}rem;
}
.xs__ml-7 {
    margin-left: -#{$marginAtom * 7}rem;
}

/**
 * 8
 */
.xs__m\+8 {
    margin: #{$marginAtom * 8}rem;
}
.xs__mt\+8 {
    margin-top: #{$marginAtom * 8}rem;
}
.xs__mr\+8 {
    margin-right: #{$marginAtom * 8}rem;
}
.xs__mb\+8 {
    margin-bottom: #{$marginAtom * 8}rem;
}
.xs__ml\+8 {
    margin-left: #{$marginAtom * 8}rem;
}
.xs__m-8 {
    margin: -#{$marginAtom * 8}rem;
}
.xs__mt-8 {
    margin-top: -#{$marginAtom * 8}rem;
}
.xs__mr-8 {
    margin-right: -#{$marginAtom * 8}rem;
}
.xs__mb-8 {
    margin-bottom: -#{$marginAtom * 8}rem;
}
.xs__ml-8 {
    margin-left: -#{$marginAtom * 8}rem;
}

/**
 * 0
 */
.xs__mt-0 {
    &#{&} {
        margin-top: 0;
    }
}
.xs__mr-0 {
    &#{&} {
        margin-right: 0;
    }
}
.xs__mb-0 {
    &#{&} {
        margin-bottom: 0;
    }
}
.xs__ml-0 {
    &#{&} {
        margin-left: 0;
    }
}
